
//@theme "/home/fabio/.config/rofi/themes/matrix.rasi"

//@theme "/home/fabio/.config/rofi/themes/tokyo.rasi"

//@theme "/home/fabio/.config/rofi/themes/roundend.rasi"

//@theme "/home/fabio/.config/rofi/themes/matrix.rasi"

@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
