/* O painel principal */
.control-center {
    margin: 5px 15px 15px 0px; /* 45px no topo para pular a Waybar */
    border-radius: 15px;
    background-color: rgba(15, 15, 15, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.1);
    min-width: 380px;
}

/* As notificações individuais dentro do painel */
.control-center-list {
    background: transparent;
}

.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}

.notification-content {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
}
/* O container que segura o pop-up na tela */
.floating-notifications {
    background: transparent;
}

/* A caixa da notificação que aparece quando você usa notify-send */
.floating-notifications .notification-row .notification-content {
    background: rgba(15, 15, 15, 0.85); /* Fundo vidro escuro */
    color: #ffffff;                      /* Texto branco */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borda fina monocromática */
    margin: 5px;
    padding: 10px;
}

/* Estilo do Título e Corpo da notificação flutuante */
.floating-notifications .notification-row .notification-content .summary {
    color: #ffffff;
    font-weight: bold;
}

.floating-notifications .notification-row .notification-content .body {
    color: #dddddd;
}
