BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Allman
# ColumnLimit: 80
# SpacesBeforeTrailingComments: 1
# SpaceAfterCStyleCast: true
# IndentCaseLabels: false
# RemoveTrailingWhitespace: true


